@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <h2>Aplicativo de gerenciamento de Tarefas</h2>
    <a class="btn btn-primary" asp-controller="Todos" asp-action="Index">Acessar</a>
</div>
